<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/sign_up" method="post">
<div class="col-sm-6">
    <label for="First_name" class="form-label">First Name</label>
    <input type="email" class="form-control" id="First_name" aria-describedby="emailHelp" required>
  </div>
<div class="col-sm-6">
    <label for="Last_name" class="form-label">Last Name</label>
    <input type="email" class="form-control" id="Last_name" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="email" class="form-control" id="Username" aria-describedby="emailHelp" required>
  </div>
<div class="mb-3">
    <label for="address" class="form-label">address</label>
    <input type="email" class="form-control" id="address" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="Email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" required>
  </div>
  <div class="mb-3">
    <label for="ConfirmPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="ConfirmPassword" required>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="Check1">
    <label class="form-check-label" for="Check1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
</body>
</html>